<div id="floating-panel">
	<div>
		<div>
			<input type="text" id="from" , placeholder="Origin" />
		</div>
	</div>
	<div>
		<div>
			<input type="text" id="to" , placeholder="Destination" />
		</div>
	</div>
</div>

{{#each allRequests}}
	<ul>
		<li>
			<label>Title:</label>
			{{title}}
			<p>
				<label>Description</label>
				{{description}}
			</p>

			<div>{{lat}}</div>
			<div>{{long}}</div>
			<button
				class="find-btn"
				onclick="setRoute('{{lat}}', '{{long}}')"
			>Find route</button>
		</li>
	</ul>
{{/each}}

{{! Help Request Button }}
<form>
	<label>Title</label>
	<input type="text" id="requestTitle" name="title" />

	<label>Description</label>
	<input type="text" id="requestDescription" name="description" />

	<button onclick="send()">Send</button>
</form>

<b>Mode of Travel</b>
<select id="mode">
	<option value="0">Select a transport</option>
	<option value="DRIVING">Driving</option>
	<option value="WALKING">Walking</option>
	<option value="BICYCLING">Bicycling</option>
	<option value="TRANSIT">Transit</option>
</select>

<div id="map"></div>