<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>H E L P R</title>
		<script
			src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"
		></script>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap CSS CDN -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
			integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
			crossorigin="anonymous"
		/>

		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
			integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
			crossorigin="anonymous"
		></script>
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
			integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
			crossorigin="anonymous"
		></script>

		<script src="/js/main.js" defer></script>
		<script
			src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
			defer
		></script>
		<!-- Our Custom CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
		/>

		<link rel="stylesheet" href="/stylesheets/style2.css" />

	</head>

	<body>
		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar">

				<div id="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>

				<div class="sidebar-header">
					<a href="/">
						<h3>Helpr</h3>
					</a>
				</div>

				<ul class="list-unstyled components">
					{{#if loggedInUser}}
						<label>Hello {{loggedInUser}}</label>
						<li>
							<a href="/logout">Logout</a>
						</li>
					{{else}}
						<li>
							<a href="/signup">Signup</a>
						</li>
						<li>
							<a href="/login">Login</a>
						</li>
					{{/if}}
					<hr />
					{{#if loggedInUser}}
						{{#each allRequests}}

							<li>
								<div class="loltwo">
									<img class="lol" src={{userImg}} />
									{{user}}
								</div>
								<div>
									<label>Title:</label>
									{{title}}
								</div>
								<div>
									<label>Description:</label>
									{{description}}
								</div>
								<div id="req-send-btn">
									<button
										type="button"
										class="btn btn-secondary"
										onclick="setRoute('{{lat}}', '{{long}}')"
									>Find route</button>
								</div>
								<hr />
							</li>
						{{/each}}
					{{/if}}
					<li>
						<a href="#">About Helpr</a>
					</li>
				</ul>
			</nav>

			<!-- Page Content -->
			<div id="content">

				<nav
					class="navbar navbar-expand-lg navbar-light bg-light"
					id="navgray"
				>
					<div class="container-fluid">

						<button
							type="button"
							id="sidebarCollapse"
							class="btn btn-info"
						>
							<i class="fas fa-align-left"></i>
							<span>H E L P R</span>
						</button>
					</div>
				</nav>
			</div>
			<!-- Dark Overlay element -->
			<div class="overlay"></div>
		</div>

		{{{body}}}

		<script
			src="https://maps.googleapis.com/maps/api/js?key={{gmapsKey}}&libraries=&v=weekly"
			async
		></script>
		<!-- jQuery CDN - Slim version (=without AJAX) -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<!-- Popper.JS -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
			integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
			crossorigin="anonymous"
		></script>
		<!-- Bootstrap JS -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
			integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
			crossorigin="anonymous"
		></script>
		<!-- jQuery Custom Scroller CDN -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
		></script>
		<script src="js/script.js" />
		<script type="text/javascript">

			$(document).ready(function () { $("#sidebar").mCustomScrollbar({
			theme: "minimal" }); $('#dismiss, .overlay').on('click', function ()
			{ $('#sidebar').removeClass('active');
			$('.overlay').removeClass('active'); });
			$('#sidebarCollapse').on('click', function () {
			$('#sidebar').addClass('active'); $('.overlay').addClass('active');
			$('.collapse.in').toggleClass('in');
			$('a[aria-expanded=true]').attr('aria-expanded', 'false'); }); });

		</script>
		<script type="text/javascript" style="display:none;" async>
		</script>

	</body>

</html>